<section class="content-header">
  <h1>Table Grants </h1>
</section>

<section class="content">
  <div class = "row">
    <!-- <div class="col-md-6">


      <div class="box" style="min-height:200px">
        
          <div class="box-header">
            <div class="box-title"> <h3>New User</h3> </div>
          </div>
          <div class = "box-body">
            <%= render 'users/form' %>
          </div>
      </div>
      <div class="box"> 
        <div class="box-header">
          <div class="box-title"> <h3>Users</h3> </div>
        </div>
        <div class = "box-body">

        <table class = "table table-bordered table-striped dataTable">
            <thead>
              <th>User ID</th>
              <th>Email</th>
              <th>Admin</th>
              <th colspan="2"></th>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td> <%= user.id %></td>
                  <td> <%= user.email %> </td>
                  <td> <%= link_to "#{user.admin}", "users/#{user.id}/setadmin",
                    data: (user.id==current_user.id ? {confirm: 'Are you sure?'} : nil) %> </td>
                  <td> <%= link_to 'Edit', edit_user_path(user) %> </td>
                  <td> <%= link_to 'Remove', user,  method: :delete, data: {confirm: 'Are you sure?'} %> </td>
                </tr>
              <% end %>    
            </tbody>
          </table>
        </div>
      </div>
      <div class="box">
          <div class="box-title"> <h3>Table_names</h3> </div>
          <div class = "box-body">

          <table id="table1" class = "table table-bordered table-striped dataTable">
            <thead>
              <tr>
                <th>Table name</th>
                <td>Database ID </td>
              </tr>
            </thead>
            <tbody>
              <% @tables.each do |key,value| %>
              <tr>
                
               <td> <%= link_to key, "/queries/select_star/#{key}" %></td>
               <td> <%= value %> </td>
              </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </div>
    </div> -->
    <div class="col-md-12">

      <div class="box" style="min-height:200px">
          <div class="box-header">
            <div class="box-title"> <h3>New Grant</h3> </div>
          </div>
          <div class = "box-body">
             <span>SELECT = 1, INSERT = 2, DELETE = 4, UPDATE = 8</span>
            <%= render 'form' %>
          </div>
      </div>

      <div class="box">
        <div class="box-header">
          <div class="box-title"> <h3>Grants</h3> </div>
        </div>
        <div class = "box-body">
          <span>SELECT = 1, INSERT = 2, DELETE = 4, UPDATE = 8</span>
          <table id="table2" class = "table table-bordered table-striped dataTable">
            <thead>
              <tr>
                <th>User</th>
                <th>Db</th>
                <th>Table</th>
                <th>Type</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @table_grants.each do |table_grant| %>
                <tr>
                  <td><%= User.find(table_grant.user_id).email %></td>
                  <td><%= Database.find(table_grant.db_id).name %></td>
                  <td><%= table_grant.table %></td>
                  <% hash = {1=>"SELECT", 2=>"INSERT", 4=>"DELETE", 8=>"UPDATE"} %>
                  <td>  <% hash.each do |key, value| %>
                          <% if key & table_grant.access_type >0 %>
                            <%= value + " "%>
                          <% end %>
                        <%end%>
                  </td>
                  <td><%= link_to 'Edit', edit_table_grant_path(table_grant) %></td>
                  <td><%= link_to 'Remove', table_grant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      <div class="box">

      </div>
    </div>

  </div>
</section>

<script>
  $(function () {
    $("#table1").DataTable();
    $("#table2").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
