

<section class="content">
<h1>Listing Queries</h1>
  <div class = "row">
    <div class = "col-md-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-header">

          <div class="box-title"> <h3>Table_names</h3> </div>
        </div>
        <div class = "box-body">


        <table class="table table-bordered table-striped dataTable">
          <thead>
            <th>Email</th>
            <th>Query</th>
            <th>Time</th>
          </thead>
          <tbody>
            <% @queries.each do |query| %>
              <tr>
                <td> <%= User.find(query.user_id).email %></td>
                <td> <%= query.query_cmd %> </td>
                <td> <%= Database.find(query.database_id).name %> </td>
                <td> <%= query.time %> </td>
              </tr>
            <% end %>    
          </tbody>

        </table>
        <%= link_to "Back", queries_new_path %>
      </div>
    </div>
  </div>
  </div>
</section>
