<section class="content-header">
  <h1>Queris </h1>
</section>
<section class="content">
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <%= render 'form' %>
    </div>
  </div>
</div>
  <% @tables_accessible.each do |table| %>
  	<%= link_to table[0], "select_star/#{table[0]}" %>
  	<br>
  <% end %>

  	<div class = "row">
      <div class = "col-md-6 col-xs-6">
        <div class="box box-primary">
          <div class="box-header">

            <div class="box-title"> <h3>Table_names</h3> </div>
          </div>
          <div class = "box-body">
         


          <table id="table1" class = "table table-bordered table-striped dataTable">
            <thead>
              <tr>
                <th>Table name</th>
                <th>Access Type</th>
              </tr>
            </thead>
            <tbody>
              <% @tables.each do |key,value| %>
              <tr>
                <!-- <td> <%= key %></td> -->
               <td> <%= link_to key, "select_star/#{key}" %></td>
                <td>  <% access = ''%>
                      <% if (value & 1) > 0 %>
                        <% access = "SELECT" %>
                      <% end %>  
                      <% if (value & 2) > 0%>
                        <% access = access + '| INSERT'%>
                      <%end%>
                      <% if (value & 4) >0%>
                        <% access = access + '| DELETE' %>
                      <%end%>
                      <% if (value & 8) >0%>
                        <% access = access + '| UPDATE'%>
                      <%end%>
                      <%= access + ", " + value.to_s%>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </div> 
      </div>


      <div class = "col-md-6 col-xs-6">
        <div class="box box-primary" >
          <div class="box-header">

            <div class="box-title"> <h3>Databases</h3> </div>
          </div>
          <div class = "box-body">

        <table id="table2" class = "table table-bordered table-striped dataTable">
          <thead>
            <th> ID </th>
            <th> Name </th>
          </thead>
          <tbody>
            <% @databases.each do |db| %>
              <tr>
                <td> <%= db.id %> </td>
                <td> <%= link_to db.name, "/set_database/#{db.id}" %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>


  </table>
</section>
<script>
      $(function () {
        $("#table1").DataTable();
        $("#table2").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>