<h1>Listing db_grants</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Db</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @db_grants.each do |db_grant| %>
      <tr>
        <td><%= db_grant.user_id %></td>
        <td><%= db_grant.db %></td>
        <td><%= db_grant.type %></td>
        <td><%= link_to 'Show', db_grant %></td>
        <td><%= link_to 'Edit', edit_db_grant_path(db_grant) %></td>
        <td><%= link_to 'Destroy', db_grant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Db grant', new_db_grant_path %>
