<!DOCTYPE html>
<html>
<head>
  <title>DatabaseController</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'AdminLTE.min.css' %>
  <%= stylesheet_link_tag '_all-skins.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 

</body>
</html>

<% if not user_signed_in? %>
<style>
body{
	background-color: #ECF0F5; 
}
</style>
<% end %>

<body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>DB</b>Cont.</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>DB</b>Controller</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <span class="hidden-xs">
          	<% if user_signed_in? %>
          	<%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "sidebar-toggle" %>
          	<% end %>
          </span>
        </nav>
      </header>


      
      <aside class="main-sidebar">
      	<section class="sidebar">
      		<ul class="sidebar-menu">
            <% if user_signed_in? %>
        			<li class="header">MAIN NAVIGATION</li>
        			
        			<li> <%= link_to " Queries", '/queries', class: "fa fa-table" %> </li>
        			<li> <%= link_to " New Query", '/queries/new', class: "fa fa-pencil-square-o" %> </li>
        			<li> <%= link_to " Sign out", destroy_user_session_path, :method => :delete, class: "fa fa-sign-out" %> </li>
              <% if current_user.admin? %>
                <li class="header">Admin</li>
                <li> <%= link_to " TableGrants", '/table_grants', class: "fa fa-table" %> </li>
              <% end %>
            <% end %>

      		</ul>
      	</section>
      </aside>
      
      <div class="content-wrapper">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
          <%= yield %>
      </div>
    </div>


  </body>
